/* Reset do CSS */
*{
    margin: 0px;
    padding: 0;
}

h2, p {
    text-align: center;
}

header {
    background-color: rgb(31, 54, 97); 
    color: rgb(251, 251, 252);
    font-style: oblique;
    padding: 40px;
}